* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: #000;
  background-color: #ffff;
  line-height: 1.2;
}
.flex {
  display: flex;

  &.col {
    flex-flow: column;
  }
}
.grid {
  display: grid;

  &.col {
    grid-auto-flow: column;
  }
}
header {
  padding: 1.6rem;
  justify-content: center;
}
section {
  padding: 1.6rem 2.2rem;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}
fieldset {
  align-items: flex-start;
  gap: 0.6rem;
}
