* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: #000;
  background-color: #ffff;
  line-height: 1.2;
}
.flex {
  display: flex;

  &.col {
    flex-flow: column;
  }
}
.grid {
  display: grid;

  &.col {
    grid-auto-flow: column;
  }
}
fieldset {
  align-items: flex-start;
  gap: 0.6rem;
}
